body {
    margin: 0px;
    padding: 0px;
	height: 1850px;
	background: linear-gradient(225deg, rgba(38,0,121,1) 20%, rgba(253,110,0,1) 95%);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;

}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.Container {
	width: 1330px;
  margin-left: auto;
  margin-right: auto;
	margin-top: auto;
	height: 2000px;
}
.header {
	width: 1336px;
	height:	160px;
	background-color: #FD6E00;
}

.header_anabaslik {
  width: 500px;
  height: 140px;
  float:  left;
  margin-left: 150px;
  margin-top: 18px;
  cursor: pointer;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


.header_sosyalmedya {
	width: 500px;
	height: 140px;
	float: right;
	text-align: right;
	line-height: 230px;
	margin-top: 230;
	margin-right: 50px;
	cursor: pointer;
}

.header_sosyalmedya_icon {
	width: 50px;
	transition: all 1s ease-in-out;
}

.header_sosyalmedya_icon:hover {
	width: 70px;
	cursor: pointer;
	transform: rotate(360deg);
}
.nav {
	width: 100%;
	height: 50px;
	background-color: #260079;
	border: 3px solid #FD6E00;
	border-radius: 0px 0px 20px 20px;
}
.btn-1 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 20px;
}
 #Btn-1 {
    background: #FD6E00;
    color: #3C00BC;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-1:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
      
    }
 #Btn-1:hover {
      top: -30px;
    }

.btn-2 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 20px;
}
 #Btn-2 {
    background: #FD6E00;
    color: #3C00BC;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-2:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-2:hover {
      top: -30px;
    }

.btn-3 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 20px;
}
 #Btn-3 {
    background: #FD6E00;
    color: #3C00BC;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-3:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-3:hover {
      top: -30px;
    }
.btn-4 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 20px;
}
 #Btn-4 {
    background: #FD6E00;
    color: #3C00BC;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-4:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-4:hover {
      top: -30px;
    }
.btn-5 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 20px;
}
 #Btn-5 {
    background: #FD6E00;
    color: #3C00BC;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-5:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-5:hover {
      top: -30px;
    }

.Arama-Motoru {
	float: right;
	margin-top: 10px;
	margin-right: 35px;
}
.textbox-1 {
	width: 180px;
	height: 25px;
	border-radius: 20px;
	border: 1px solid #FD6E00;
	outline: none;
	background-color: white;
	color: #3C00BC;
	font: Bahnschrift;
	position: relative;
	bottom: 1px;
}
.textbox-1:focus{
   background-color: #FD6E00;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    border: 0px solid #fd6e00;
    border-radius: 100px;
    background: #fd6e00;
    background: linear-gradient(to bottom, #fd6e00, #fd6e00);
    box-shadow: #ff8400 0px 0px 6px 0px;
    color: #ffffff;
	position: relative;
	bottom: 2px;
}
.button:hover, .button:focus {
    border: 0px solid #ff8f00;
    background: #ff8400;
    background: linear-gradient(to bottom, #ff8400, #ff8400);
    color: #ffffff;
}
.button:active {
    background: #984200;
    background: linear-gradient(to bottom, #984200, #fd6e00);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: -2px;
    left: 4px;
    background: url("ara.png") no-repeat left center transparent;
    background-size: 100% 100%;
}
.Kullanici-Paneli {
	width: 1359px;
	height: 1400px;
	border-radius: 1px;
	margin-left: 150px;
	margin-top: 20px;
}
.uye-girisi{
	width: 230px;
	height: 300px;
	border-radius: 20px;
	border: 3px solid #260079;
  position: relative;
	left: 950px;
	bottom: -50px;
	background-color: #FD6E00;
}

.baslik-1{
	width: 170px;
	height: 20px;
}
#uye-girisi-1{
	font-size: 20px;
	font-family: Bahnschrift;
	text-align: center;
	position: relative;
	left: 25px;
	color: #260079;
	
}

.kullanici-adi-1{
	width: 170px;
	height: 20px;
	position: relative;
	left: 25px;
	top: 20px;
	border-radius: 20px;
	border: 3px solid #260079;
	outline: none;
	
}

.sifre-1{
	width: 170px;
	height: 20px;
	position: relative;
	left: 25px;
	top: 30px;
	border-radius: 20px;
	border: 3px solid #260079;
	outline: none;
}
.beni-hatirla-1{
	position: relative;
	top: 35px;
	left: 50px; 
	
}
#beni-hatirla-1{
	font-size: 15px;
	font-family: Bahnschrift;
	text-align: center;	
}

.sifremi-unuttum {
	background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
	background-color:#ff1500;
	border-radius:42px;
	border:1px solid #ff1100;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Bahnschrift;
	font-size:11px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff1100;
	position: relative;
	left: 25px;
}
.sifremi-unuttum:hover {
	background:linear-gradient(to bottom, #4c0094 5%, #fd6e00 100%);
	background-color:#000000;
}
.sifremi-unuttum:active {
	position:relative;
	top:1px;
}
.giris-1 {
	background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
	background-color:#fd6e00;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Bahnschrift;
	font-size:10px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	position: relative;
	left: 25px;
	top: 10px;
}
.giris-1:hover {
	background:linear-gradient(to bottom, #4c0094 5%, #fd6e00 100%);
	background-color:#4c0094;
}
.giris-1:active {
	position:relative;
	top:1px;
}

.kayit-ol-1 {
	background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
	background-color:#fd6e00;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Bahnschrift;
	font-size:10px;
	font-weight:bold;
	padding:12px 26px;
	text-decoration:none;
	position: relative;
	left: 25px;
	top: 10px;
}
.kayit-ol-1:hover {
	background:linear-gradient(to bottom, #4c0094 5%, #fd6e00 100%);
	background-color:#4c0094;
}
.kayit-ol-1:active {
	position:relative;
	top:1px;
}
.populer-kitaplar{
	width: 230px;
	height: 820px;
	border-radius: 20px;
	border: 3px solid #260079;
    position: relative;
	left: 950px;
	bottom: -160px;
	background-color: #FD6E00;
}

.baslik-2{
	width: 170px;
	height: 20px;
}
#uye-girisi-2{
	font-size: 20px;
	font-family: Bahnschrift;
	text-align: center;
	position: relative;
	left: 25px;
	color: #260079;
	
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	position: relative;
	top: 40px;
	right: 10px;
}
.swing img {
    border: 5px solid #260079;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
.Üyelik-baslik {
  color: #FD6E00;
  white-space: nowrap;
  position: relative;
  bottom: 1100px;
  left: 900px;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: Bahnschrift;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;

}

.Üyelik-baslik:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.üyelik-Formu {
  width: 550px;
  height: 500px;
  border-radius: 20px;
  border: 3px solid #260079;
  position: relative;
  left:  110px;
  bottom: 1100px;
  background-color: #FD6E00;
}
.üyelik-Formu p{
  font-family: Bahnschrift;
  font-size: 15px;
  position: relative;
  left: 110px;
  top: 20px;
}
 #form1{ 
  width: 170px;
  height: 20px;
  position: relative;
  left: 130px;
  top: 20px;
  border-radius: 20px;
  border: 3px solid #260079;
  outline: none;
}
#submit1{
  background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
  background-color:#ff1500;
  border-radius:42px;
  border:1px solid #ff1100;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Bahnschrift;
  font-size:18px;
  font-weight:bold;
  padding:10px 20px;
  text-decoration:none;
  text-align: center;
  text-shadow:0px 1px 0px #ff1100;
  position: relative;
  left: 20Px;
  top:  60px;
}
#submit1:hover {
  background:linear-gradient(to bottom, #4c0094 5%, #fd6e00 100%);
  background-color:#000000;
}
#submit1:active {
  position:relative;
  top:50px;
}

.nav2 {
	width: 100%;
	height: 50px;
	background-color: #FD6E00; 
	border: 3px solid #260079;
	border-radius: 20px 20px 0px 0px;
	position: relative;
	top: 120px;
}
.btn-11 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 55px;
  border-radius: 20px;
}
 #Btn-11 {
    background: #260079;
    color: #FD6E00;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-11:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
      
    }
 #Btn-11:hover {
      top: -30px;
    }

.btn-22 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 55px;
  border-radius: 20px;
}
 #Btn-22 {
    background: #260079;
    color: #FD6E00;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-22:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-22:hover {
      top: -30px;
    }

.btn-33 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 55px;
  border-radius: 20px;
}
 #Btn-33 {
    background: #260079;
    color: #FD6E00;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-33:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-33:hover {
      top: -30px;
    }
.btn-44 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 55px;
  border-radius: 20px;
}
 #Btn-44 {
    background: #260079;
    color: #FD6E00;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-44:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-44:hover {
      top: -30px;
    }
.btn-55 {
  width: 160px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 55px;
  border-radius: 20px;
}
 #Btn-55 {
    background: #260079;
    color: #FD6E00;
    font: bold 14px/30px Bahnschrift;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    height: 30px;
    position: relative;
    top: 0px;
    transition: 250ms top, 350ms left;
    }
 #Btn-55:before {
      content: attr(data-hover);
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background:linear-gradient(to bottom, #fd6e00 5%, #4c0094 100%);
      color: #ffffff;
      height: 30px;
    }
 #Btn-55:hover {
      top: -30px;
    }

.footer {
    width: 1336px;
    height:	200px;
    background-color: #260079;
    position: relative;
    top:120px;
}
.footer_anabaslik{
	width: 500px;
	height: 140px;
	float:  left;
	margin-left: 150px;
	margin-top: 18px;
	cursor: pointer;
	position: relative;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}