body{
background-color: #828282;
}
main{
width: 1250px;
height: 1250px;
background-color: #fffc83;
margin: auto;
}
header{
width: 1250px;
height: 60px;
text-align: center;
border: 1px solid #000000;
margin: auto;
background-color: #d79964;
padding: 5px;
}
nav{
width: 1150px;
height: 50px;
border: 1px solid #000000;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
background-color: #d79964;
list-style-type: none;
}
nav a{
color: #000000;
text-decoration: none;
padding: 10px 25px;
text-align: center;
display: inline-block;
margin-left: 50px;
margin-right: 10px;
margin-top: 5px;
}
footer{
width: 1250px;
height:150px;
text-align: center;
border: 1px solid #000000;
margin: auto;
margin-top: 10px;
background-color: #d79964;
}
section{
width:  800px;
height: 1150px;
border: 1px solid #000000;	
padding: 24px;
float: left;
margin-left: 10px;
margin-top: 20px;
}
aside {
width:  250px;
height: 1150px;
border: 1px solid #000000;
float: right;
padding: 24px;
margin-right: 10px;
margin-top: 20px;
}
.center{
width: 1250px;
height:150px;
text-align: center;
border: 1px solid #000000;
margin: auto;
margin-top: 10px;
background-color: #d79964;
}
.facebook{
    float:left;
    width:32px;
    height:32px;
    background:url("facebook.png");
    transition:background 0.5s;
    -moz-transition:background 0.5s;
    -webkit-transition:background 0.5s;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    margin-right:20px;
}
.facebook:hover{
    background-position:0px -32px;
    cursor:pointer;
    